img{
  max-width: 100%;
  height: auto;
}
.Card{
    width: auto; 
    height: auto;   
    border: 1px solid red;
    padding: 0px 10px;
}

.TopOffer {
  
    width: auto;
    height: auto;
    position:relative;
}

.text{
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;

}

.bottomText{
   background-color: blue;
}