



ul {
    list-style-type: none;
    display: flex;
  }
  
  li{
    padding: 10px;
    text-decoration: none;
  }

.Navbar{
    display: flex;
    margin: 0 auto;

}

#searchImg{

  width: 25px;
  height: 20px;
  border: 0cap;
}
.NavbarLink{
  text-decoration: none;
  font-family: monospace;
  font-size: 22px;
  font-weight: 700;

}

#NavbarFirstElement{
  
  color: black;
}
#NavbarSecondElement{
  
  color: rgba(0,128,198,1);
}

#NavbarThirdElement{
  
  color: rgba(217,28,92,1) ;

}

/* 
.NavbarFourthElement{

} */